<!-- Page Content -->
<div class="container">

    <!-- Page Header -->
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">Players
                <small>All Servers</small>
                <small class="pull-right">
                  <a class="btn btn-success"
                  href="/players/new" role="button">Add yourself as a player!</a>
                </small>
            </h1>
        </div>
    </div>
    <!-- /.row -->

    <!-- Projects Row -->
    <% @players.each_slice(3) do |players| %>
    <div class="row">
        <% players.each do |player| %>
        <div class="col-sm-4 portfolio-item">
            <!--<a href="#">
                <img class="img-responsive" src="http://placehold.it/700x400" alt="">
            </a>-->
            <h3>
                <a target="_blank" href=<%= player.steam_link %>><%= player.nick %></a>
            </h3>
            <p><b>Server: </b><%= player.server %></p>
            <p class="line"><%= player.description %></p>
        </div>
        <% end %>
    </div>
    <% end %>
    <!-- /.row -->

    <hr>

    <!-- Pagination -->
    <div class="row text-center">
        <div class="col-lg-12">
            <ul class="pagination">
                <li>
                    <a href="#">&laquo;</a>
                </li>
                <li class="active">
                    <a href="#">1</a>
                </li>
                <li>
                    <a href="#">2</a>
                </li>
                <li>
                    <a href="#">3</a>
                </li>
                <li>
                    <a href="#">4</a>
                </li>
                <li>
                    <a href="#">5</a>
                </li>
                <li>
                    <a href="#">&raquo;</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyleft | Where is my Squad?</p>
            </div>
        </div>
        <!-- /.row -->
    </footer>

</div>
